extends ../templates/base

block variables
	- var classBody = 'comments-page'
	- var classWrapper = 'comments'

block title
	title Отзывы

block header
	include ../modules/header
	+header()
block main
	section.breadcrumb
		.container
			ul.clearfix
				li
					a(href='./') Главная
				li Отзывы
			+language()
	.content-main.container
		h1 Отзывы
		.content-main__inner
			section.testimonials
				.testimonials__top
					h2.section-title
						| Рубрика: Отзывы наших клиентов
					p.
						Мы собрали отзывы наших клиентов, с которыми Вы можете ознакомиться ниже.
			section.comments
				.comments__block
					.slider.slick-comments
						mixin commentsSlider(img, title, name, text)
							div
								.slick-comments__box
									.row
										.col-sm-6
											a(href=require("../../components/images/" + img + '.jpg'), data-fancybox="").slick-comments__left
												img(src=require('../../components/images/' + img + '.jpg'), alt= img)
										.col-sm-6
											.slick-comments__right
												h3= title
												span= name
												p= text
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
						+commentsSlider('sertificate-1', 'ENERGY RECOVERY INDUSTRIES CORPORATION', 'директор  У. Фиорентини', 'Желая знать, по какой стоимости лучше всего купить пресс для пластиковых бутылок, необходимо изучить ряд факторов, влияющих на ценообразование. Среди них можно отметить: качество используемых материалов, благодаря которому получается купить пресс для ПЭТ-бутылок, который прослужит длительное время без необходимости ремонта и замены комплектующих; цена в Украине на пресс для ПЭТ-бутылок зависит и от того, какие функции он будет выполнять с учетом индивидуальных потребностей предприятия и желаний заказчика.')
			section.contact-us
				.contact-us__block
					h2.section-title
						| Свяжитесь с нами!
					.row
						.col-md-4
							p.
								С другой стороны реализация намеченных плановых заданий требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное ...
						.col-md-8
							.contact-us__form
								form
									.form-group.clearfix
										input.form-control(type="text", placeholder='Имя')
										input.form-control(type="text", placeholder='Фамилия')
									.form-group.clearfix
										input.form-control(type="text", placeholder='Телефон')
										input.form-control(type="text", placeholder='E-mail')
									.form-group
										textarea.form-control(placeholder='Сообщение')
									button(type='submit').btn.btn--blue Отправить
	